 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    position: relative;
    width: 1140px;
    margin: 0 auto;
}

.promo {
    min-height: 800px;
    background-color: #efefef;
    padding: 33px 0 62px 0;
}